In [1]:
import pandas as pd
import re
import numpy as np

hn = pd.read_csv("hacker_news.csv")
titles = hn['title']
titles_value_counts = titles.value_counts()
titles_value_counts.head()

400Gbps: Winter of Whopping Weekend DDoS Attacks                                   3
SHA-1 Deprecation: No Browser Left Behind                                          3
He Was a Hacker for the NSA and He Was Willing to Talk. I Was Willing to Listen    3
Calculus Is So Last Century                                                        3
Solving All the Wrong Problems                                                     3
Name: title, dtype: int64

In [2]:
pattern = r"[Pp]ython ([\d\.]+)"
py_versions = titles.str.extract(pattern)

In [3]:
py_versions = titles.str.extract(pattern)
py_versions.head()

     0
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN

In [4]:
py_versions_freq = dict(py_versions.value_counts())

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [ ]:
3  & 1

In [ ]:
mylist1 = [True,  True,  True,  False,  True]
mylist2 = [False, True, False,  True, False]  
mylist1 & mylist2

In [ ]:
import re
xx = "guru99,education is fun"
r1 = re.findall(r"^\w+",xx)
print(r1)

In [5]:
coords = re.findall("\(.+\)", "1110 Boston Road\nBronx, NY 10456\n(40.8276026690005, -73.90447525699966)")
# \is escape sign, not extract sign()
print(coords)
print(coords[0])

['(40.8276026690005, -73.90447525699966)']
(40.8276026690005, -73.90447525699966)

In [ ]:
lat_1 = coords.split(",")[0]
print(lat_1)